* {
    padding: 0;
    margin: 0;
}

:root {
    --drk: #1F2937;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--drk);
    padding: 20px 0px;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 5%;
}

.navbar {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 50px;

}

.link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    background-color: var(--drk);
    justify-content: space-around;
    align-items: center;
    padding-bottom: 75px;
    padding-top: 50px;
    
    
}

.hero-left {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    color:#E5E7EB; 
    
}

.hero-right {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin-right: 50px;
    
}

.signup {
    max-width: 123px;
    height: 60px;
    color:#E5E7EB;
    background-color: #3882F6;
    border-radius: 20px;
    border: none;
    margin: 10px 0px;
}

.ipm {
    max-width: 50%;
    min-width: 230px;
    
}

img {
    max-width: 100%;
    max-height: auto;
    
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 70%;
}

.story {
    width: 75%;
    padding: 10px 0px;
}


.game-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 75px 200px 75px 200px;
}

.game-pic {
    width: 260px;
    height: 165px;
    border: 7px solid #3882F6;
    border-radius: 20px;
    overflow-wrap: none;

}

figcaption {
    width: 250px;
    font-size: 18px;
    color:#1F2937;
}

.week {
    text-align: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: var(--drk);
    margin-top: 50px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quote-section {
    padding: 5% 25%;
    background-color: #E5E7EB;
}

.quoter {
    text-align: right;
    font-size: 30px;
    font-weight: bold;

}

.footer {
    background-color: #1F2937;
    color:#E5E7EB;
    padding-top: 30px;
    padding-bottom: 30px;
}

.box {
    background-color: #3882F6;
    font-size: 24px;
    padding: 30px;
    margin: 2% 10%;
    display: flex;
    text-align: center;   
}

.extra {
    font-weight: bolder;
    font-size: 28px;
}

.box-left {
    width: 50%;
}

.box-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.box-signup {
    width: 123px;
    height: 40px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 20px;
}




/*

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    background-color: #1F2937;
    display: flex;
    padding: 15px;
}

.navbar {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: auto;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.link {
    padding: 15px;
}

.ipm {
    width: 500px;
    height: auto;
}

.hero-right {
    padding-top: 20px;
    padding-bottom: 50px;
}

.hero {
    display: flex;
    justify-content: space-around;
    
    background-color: #1F2937;
}

.hero-left {
    color: #E5E7EB;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 15px;
}

.signup {
    width: 100px;
    margin-top: 20px;
    height: 25px;
}

.game-pic {
    width: 260px;
    height: 165px;
    border: 2px solid #3882F6;
    border-radius: 20%;
    
}

.week {
    text-align: center;
    margin-top: 50px;
}

.game-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

figcaption {
    font-size: 28px;
    font-weight: 600;
}
 */
