* {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    background-color: #1F2937;
    display: flex;
    padding: 15px;
}

.navbar {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: auto;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.link {
    padding: 15px;
}

.ipm {
    width: 500px;
    height: auto;
}

.hero-right {
    padding-top: 20px;
    padding-bottom: 50px;
}

.hero {
    display: flex;
    justify-content: space-around;
    
    background-color: #1F2937;
}

.hero-left {
    color: #E5E7EB;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 15px;
}

.signup {
    width: 100px;
    margin-top: 20px;
    height: 25px;
}

.game-pic {
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 20%;
}

.week {
    text-align: center;
    margin-top: 50px;
}

.game-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

